@font-face {
    font-family: "GrandSlang-Roman";
    src: url("GrandSlang-Roman.otf");
}

@font-face {
    font-family: "MaisonNeue-Book";
    src: url("MaisonNeue-Book.otf");
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("NeueHaasGrotesk.otf");
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}


body {
	margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

script {
  display: none;
}

.changefont {
	font-family: "NeueHaasGrotesk";
}


video#main-vid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#container-row {
	display: flex;
	flex-direction: column;
	width: 100%;
  	height: 100%;
}

#container {
	position: relative;
	top: 0;
  color: #f1f1f1;
  width: 100%;
}

#title-container {
  font-family: 'GrandSlang-Roman';
  padding-left: 50px;
/*  background: rgba(0, 0, 0, 0.5);*/
  display: flex;
  justify-content: flex-start;
}

#maker_contact {
	text-decoration: underline;
	text-underline-position: under;
}

#maker_contact-sable {

	text-decoration: underline;
	text-underline-position: under;
}

#title-line {
   width: 10%; 
   text-align: center; 
   border-bottom: 1px solid white; 
   line-height: 0.1em;
   margin: 10px 10px 35px;
}

#artist-container { 
	font-family: 'NeueHaasGrotesk';
	display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 150px;
    padding-bottom: 20px;
    padding-top: 20%;
}

#artist-contribution-number {
	font-family: 'NeueHaasGrotesk';
	text-align: center; 
	font-size: 25px;
}

#artwork-full-title {
	line-height: 5px;
	font-size: 18px;
}

#artwork-full-title-long {
	line-height: 4px;
	font-size: 18px;
}

.line-height-change {
	line-height: 1!important;
}

#artist-line {
   width: 90%; 
   text-align: center; 
   border-bottom: 1px solid white; 
   line-height: 0.1em;
   margin: 10px 50px 35px;
}

#credits-container {
	display: flex;
    justify-content: space-between;
    margin: 0px 50px 30px;
    padding-left: 100px;

    left: 100px;
}

#credits-container-copy-one-first {
	color: transparent;
	width: 20%; 
}

#credits-container-copy-one {
	width: 30%; 
}

#credits-copy {
	font-size: 12px;
}

#container-two {
  position: relative;
  color: white;
  margin-bottom: 5%;
}

#container-three {
  position: relative;
  color: white;
}

#container-four {
  position: relative;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

#container-five {
  position: relative;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

#container-six {
  position: relative;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}


#artist-title-container {
  font-family: 'GrandSlang-Roman';
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  border-bottom: 1px solid white; 
}

#artist-title-one {
	display: flex;
  	justify-content: space-between;
  	border-right: 1px solid white;
  	padding-right: 100px;
  	padding-left: 20px;
}

#artist-title-two {
  	border-right: 1px solid white;
  	margin-left: 50px;
  	padding-right: 50px;
}

#artist-two-title-two {
	border-right: 1px solid white;
  	margin-left: 200px;
  	padding-right: 200px;
  	text-align: center;
}

#artist-three-title-two {
	border-right: 1px solid white;
  	margin-left: 150px;
  	padding-right: 150px;
  	text-align: center;
}

#artist-four-title-two {
	border-right: 1px solid white;
  	margin-left: 135px;
  	padding-right: 135px;
  	text-align: center;
}

#artist-five-title-two {
	border-right: 1px solid white;
  	margin-left: 100px;
  	padding-right: 100px;
  	text-align: center;
}

#artist-title-three {
  	margin-left: 80px;
}

#artist-title-three-one {
  	margin-left: 120px;
}

#artist-title-number {
	font-size: 30px;
	margin-right: 30px;
	margin-block-start: 0em;
}

#artist-title-number-two {
	font-size: 30px;
	margin-right: 30px;
	margin-block-start: 0em;
}

#artist-title-number-three {
	font-size: 30px;
	margin-right: 30px;
	margin-block-start: 0em;
}

#artist-title-info {
	font-size: 45px;
}

#artist-title-info-small {
	font-size: 40px;
}

#artist-title-info-two {
	font-size: 28.5px;
}

#artist-title-info-three {
	font-size: 30px;
}

#artist-title-info-four {
	font-size: 40px;
	padding-right: 20px;
}

#artist-title-info-five {
	font-size: 30px;
}

#artwork-container {
	display: flex;
  	justify-content: space-between;
  	/*margin-left: 0px;
  	margin-right: 30px;
  	margin-bottom: 50px;*/
}


#placement-bar {
	padding-left: 30px;
}

#placement-bar-container {
	border-right: 1px solid white;
    padding-bottom: 150px;
}

#placement-bar-place {
	font-size: 10px;
	padding-right: 30px;
	padding-left: 20px;
}

#placement-bar-place-first {
	font-size: 10px;
	padding-top: 30px;
}

#placement-bar-place-second {
	font-size: 10px;
	padding-top: 10px;
}

#placement-bar-place-third {
	font-size: 10px;
	padding-top: 10px;
}

#placement-bar-place-fourth {
	font-size: 10px;
	padding-top: 10px;
}

#placement-bar-place-five {
	font-size: 10px;
	padding-top: 10px;
}

#placement-bar-place-number {
 	margin-left: 40px;
}

#placement-bar-copy {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

}

#placement-bar-copy-line {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	
}

p#placement-full-name {
	margin-block-end: 0em;
	width: 100px;
	padding-left: 10px;
}

p#placement-artwork-title {
	margin-block-start: 0em;
    margin-block-end: 0em;
    padding-left: 10px;
}

p#placement-artwork-date {
	margin-block-start: 0em;
    margin-block-end: 0em;
    padding-left: 10px;
}

p#placement-artwork-date-line {
	margin-block-start: 0em;
	padding-left: 10px;
}

#artwork-copy-container {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

#audio-container {
	display: flex;
	justify-content: space-between;
	border: 1px solid white;
	width: 58%;
}

#audio-player {
	display: flex;
	justify-content: flex-start;

}

div#timeline1 {
    width: 100%;
    height: 2px;
    background: white;
    display: block;
}

.start-time {
	display: none;
}

.end-time {
	display: none;
}

#seekObjContainer {
	width: 270px;
	position: relative;
    left: 60px;
    bottom: 25px;

}

div#seekObj1 {
    width: 10px;
    height: 20px;
    position: relative;
    bottom: 10px;
    background: white;
    border-radius: 50%;
}

div#timeline2 {
    width: 100%;
    height: 2px;
    background: white;
    display: block;
}

.start-time2 {
	display: none;
}

.end-time2 {
	display: none;
}


#seekObjContainer2 {
	width: 380px;
	position: relative;
    left: 60px;
    bottom: 25px;

}

div#seekObj2 {
    width: 10px;
    height: 20px;
    position: relative;
    bottom: 10px;
    background: white;
    border-radius: 50%;
}


#play-button {
	padding-left: 5px;
}

#audio-title {
	padding-right: 15px;
}

#play-button-img {
	transform: scale(.6);
}

#writing-container {
	display: flex;
	/*justify-content: flex-start;*/
	justify-content: space-between;
}

#writing-copy {
	padding-right: 30px;	
}

#writing-copy-one {
	padding-right: 30px;
	width: 90%;	
}


#writing-copy-two {
	padding-left: 10px;
	width: 90%;	
}

#writing-copy-three {
	display: none;
}


#writing-container-credits {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

#writing-credits {
	font-size: 12px;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
font-family: 'GrandSlang-Roman';
  position: relative;
  display: block;
  float: left;
  margin: 0;
  width: 650px;
  height: 600px;
  padding: 10px;
  background: #ccc;
  text-align: left;
  font-size: 42px;
  top: 10%;
}

#slider-arrows-container {
	width: 150px;
	border: 1px solid white;
	position: relative;
	top: 30%;
}

a.control_prev, a.control_next {
  top: 40%;
  z-index: 999;
  padding: 1% 2%;
  background: transparent;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}


a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


video#dial-history {
 width: 100%;
}

#video-container {
	margin-top: 10px;
}


video#paul {
 width: 95%;
}

video#paul-1 {
 width: 95%;
}

video#paul-2 {
 width: 95%;
}

video#paul-3 {
 width: 95%;
}

video#paul-4 {
 width: 95%;
}

video#paul-5 {
 width: 95%;
}

video#paul-6 {
 width: 95%;
}

video#paul-7 {
 width: 95%;
}

video#paul-8 {
 width: 95%;
}

video#paul-9 {
 width: 95%;
}

video#paul-10 {
 width: 95%;
}

video#paul-11 {
 width: 95%;
}

video#paul-12 {
 width: 95%;
}

video#paul-13 {
 width: 95%;
}

video#paul-14 {
 width: 95%;
}

#click0 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
}

#click {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 20px;
}

#click2 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#click3 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#click4 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 10px;
}

#click5 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#click6 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#click7 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#click8 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#click9 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#click10 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#click11 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#click12 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#click13 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#click14 {
	background: transparent;
	color: white;
	font-family: 'GrandSlang-Roman';
	font-size: 16px;
	padding-right: 20px;
	border: none;
	border-color: none;
	margin-top: 15px;
}

#video-slider {
	width: 100%;
}

#video-slider-list {
	width: 35%;
	display: flex;
	justify-content: flex-start;
}

#video-slider-numbers-list {
	font-family: 'GrandSlang-Roman';
	border-right: 1px solid white;
	/*padding-right: 20px;*/
}

#video-slider-numbers-picked {
	border-bottom: 1px solid white;
	padding-bottom: 5px;
	padding-right: 20px;
}

#video-slider-names-list {
	font-family: 'GrandSlang-Roman';
}

#video-slider-names {
	padding-left: 20px;
}

#video-slider-names-picked {
	border-bottom: 1px solid white;
	padding-bottom: 5px;
	padding-left: 20px;
}

#ending-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 8%;
	margin-bottom: 8%;
}

#ending-direction-container {
	display: flex;
	justify-content: flex-start;
	padding-left: 70px;
	padding-right: 100px;
}

#ending-title {
	font-family: 'GrandSlang-Roman';
	font-size: 160px;
	margin-left: 5%;
}

#to-top {
	font-family: 'GrandSlang-Roman';
	font-size: 50px;
	padding-right: 5%;
}

#dividing-line-container {
   width: 20%; 
   text-align: center; 
   border-bottom: 1px solid white; 
   line-height: 0.1em;
   margin: 10px 10px 80px;
}

#to-home {
	font-family: 'GrandSlang-Roman';
	font-size: 50px;
	padding-left: 5%;
}


